* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 1100px;
}

.list-container {
  display: flex;
  list-style: none;
}

.link-items {
  margin: 1rem;
  padding: 6px 12px;
  text-decoration: none;
  color: black;
}

.list-items a:hover {
  background: #fcf5e9;
}

.current {
  font-weight: 600;
  background: #fcf5e9;
}

.logo-img {
  width: 150px;
}

/* 
hero section 

*/

/* Even though its only one item, display: flex allows me to center it with justify and align items */
.hero-showcase-text {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.showcase-text {
  font-weight: normal;
  font-size: 3rem;
  line-height: 1.4;
}

.primary-bg {
  background: #fcf5e9;
}

/* 

Media Query

*/

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-container {
    margin-bottom: 1.3rem;
  }

  .hero-showcase-text {
    height: 300px;
  }

  .showcase-text {
    font-size: 1.6rem;
  }
}
