* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 1100px;
}

.list-container {
  display: flex;
  list-style: none;
}

.link-items {
  margin: 1rem;
  padding: 6px 12px;
  text-decoration: none;
  color: black;
}

.list-items a:hover {
  background: #fcf5e9;
}

.current {
  font-weight: 600;
  background: #fcf5e9;
}

.logo-img {
  width: 150px;
}

/* 
hero section 

*/

.hero-showcase-text {
  margin: 9rem auto;
  font-weight: lighter;
  font-size: 40px;
}

/* 

Media Query

*/

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-container {
    margin-bottom: 1.3rem;
  }
}
