* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fcf5e9;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 1100px;
}

.list-container {
  display: flex;
  list-style: none;
}

.link-items {
  margin: 1rem;
  padding: 6px 12px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.list-items a:hover {
  background: var(--primary-color);
}

.current {
  font-weight: 600;
  background: var(--primary-color);
}

.logo-img,
.logo-footer-image {
  width: 150px;
}

/* 
hero section 

*/

/* Even though its only one item, display: flex allows me to center it with justify and align items */
.hero-showcase-text {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.showcase-text {
  font-weight: normal;
  font-size: 3.7rem;
  line-height: 1.4;
}

.primary-bg {
  background: var(--primary-color);
}

/* Gallery Section */

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-item {
  width: calc(33.333% - 20px);
}

.gallery-item a:hover {
  opacity: 0.9;
}

.gallery-item img {
  width: 100%;
  border-radius: 10px;
}

/* About.html */

.services {
  background-color: #333;
  color: white;
  padding-bottom: 4rem;
}

.services-header {
  text-align: center;
  padding: 4rem 0 4rem 0;
  font-size: 30px;
}

.services-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  gap: 19px;
  margin-bottom: 4rem;
}

.web-design-header,
.photography-header,
.graphic-design-header {
  font-size: 20px;
  padding-bottom: 0.7rem;
}

.web-design-text,
.photo-text,
.graphic-design-text {
  line-height: 30px;
  font-size: 20px;
}

/* Our Team */

.header-container {
  text-align: center;
}

.team-header {
  width: 150px;
  margin: 3rem auto;
  font-size: 30px;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 8rem;
}

.image-item {
  width: 550px;
  border-radius: 9px;
}

h4.ben,
h4.rebecca,
h4.kevin,
.kevin-text,
.rebecca-text,
.ben-text {
  font-size: 20px;
}

/* Contact */

.contact-hero-container {
  background-color: #333;
  color: white;
  margin-top: 1.5rem;
}

.contact-hero-text {
  color: #333;
}

/* 
Footer

*/

footer {
  margin: 2rem auto;
  border-top: solid 1px #aaa;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 4rem;
  width: 80%;
}

.footer-list {
  list-style: none;
  margin-bottom: 0.3rem;
}

.footer-list li {
  padding-top: 0.2rem;
}

.footer-contact-list {
  display: flex;
}

.footer-list-items {
  list-style: none;
  font-size: 30px;
}

.contactus-footer-container h4,
.followus-footer-container h4 {
  padding-bottom: 0.5rem;
}

/* 

Media Query

*/

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-container {
    margin-bottom: 1.3rem;
  }

  .hero-showcase-text {
    height: 300px;
  }

  .showcase-text {
    font-size: 1.6rem;
  }

  .hero-showcase-text {
    width: 70%;
  }

  .gallery-item {
    width: calc(50% - 20px);
  }

  .gallery-container {
    width: 90%;
    margin: 0 auto;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-contact-list {
    justify-content: center;
  }

  .logo-footer-image {
    margin-bottom: 1rem;
  }

  .contactus-footer-container {
    margin-bottom: 1rem;
  }

  .services-container {
    flex-direction: column;
    width: 90%;
  }

  .photography-container,
  .web-design-container {
    margin-bottom: 1rem;
  }

  .team-container {
    flex-direction: column;
    align-items: center;
  }
}
